<div class="container">
<div class="row pt-3">
  <div class="col-6">
    <h4>Student Portal</h4>
  </div>
  <div class="col-6 text-end">
    <button type="button" class="btn btn-outline-success" (click)="OpenModel()">Add New </button>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            student
          </div>
          <div class="col-6 text-end">
           Mobile number
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>City ,State ,Pincode</p>
        <p>address</p>
      </div>
      <div class="car-footer text-center">
        <p>Email</p>
        
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal " id="myModal" role="dialog" #myModal>
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header justify-content-between">
          <h4 class="modal-title">Create New Steudent</h4>

          <button type="button" class="close btn btn-outline-danger " 
          data-dismiss="modal" (click)="closeModel()">X</button>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" 
          data-dismiss="modal" (click)="closeModel()">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>




